.rightContainer {
  position: static;
  float: right;
  /*padding-top: 64px;*/
  margin-left: 29vw;
  /*width: 69vw;*/
  width: 71vw;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.contentRight {
  height: 100%;
}

@media only screen and (max-width: 90em) {
  .rightContainer {
    width: calc(100vw - 420px);
    margin-left: 420px;
  }
}
