.rightContainer {
  position: absolute;
  float: right;
  /*padding-top: 64px;*/
  margin-left: 29vw;
  /*width: 69vw;*/
  width: 71vw;
  height: 100%;
}
.contentRight {

}

@media only screen and (max-width: 90em) {
  .rightContainer {
    width: calc(100vw - 420px);
    margin-left: 420px;
  }
}
