.header {
  position: fixed;
  display: block;
   width: 100%;
  height: 76px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.2);
   background: rgb(255, 255, 255);
   color: #000000;
  opacity: 1.0;
  will-change: opacity;
  will-change: color;
  will-change: background;
  z-index: 900;
}

.navbar-container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.navbar-container ul {
  margin: 0;
  line-height: normal;
}

.header-left-links {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  height: 100%;
}

.header-left-links a {
  height: 100%;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-top: 20.25px; /* 3/8 * (height-content height) */
  padding-left: 2vw;
  padding-right: 2vw;
}

.header-left-links img {
  height: 60px;
  width: auto;
  display: inline-block;
   background: none;
   border: none;
   color: #FFF;
  float: left;
  margin-top: 7.5px;
  padding-left: 2vw;;
}

.header-left-links a:hover {
  -webkit-transition:
    background-color, 0.2s ease,
    color 0.2s linear,
    box-shadow 0.2s ease;
  transition:
    background-color, 0.2s ease,
    color 0.2s linear,
    box-shadow 0.2s ease;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4);

}

.header-right-links {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  height: 100%;
}

.header-right-links a {
  height: 100%;
  padding-top: 22.5px; /* 3/8 * (height-content height) */
  padding-left: 2vw;
  padding-right: 2vw;
  color: black;
  display: inline-block;
}

.header-right-links a:hover {
  -webkit-transition:
    background-color, 0.2s ease,
    color 0.2s linear,
    box-shadow 0.2s ease;
  transition:
    background-color, 0.2s ease,
    color 0.2s linear,
    box-shadow 0.2s ease;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

body.scrolled #header {
    -webkit-transition: background 0.4s linear,
      box-shadow 0.2s linear,
      padding-bottom 0.2s linear;
    transition:
      background 0.4s linear,
      box-shadow 0.2s linear,
      padding-bottom 0.2s linear;
    background: #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.66;
}

body.scrolled #header:hover {
  -webkit-transition: background 0.1s ease,
    opacity 0.1s ease,
    padding-bottom 0.1s ease,
    box-shadow 0.1s linear;
  transition:
    background 0.1s ease,
    opacity 0.1s ease,
    padding-bottom 0.1s ease,
    box-shadow 0.1s linear;
  background: rgba(255, 255, 255, 0.8);
   box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  opacity: 1;
}

.hamburger_menu {
  display: none;
  float: left;
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbarButtonPressed {
  background-color: #dddddd;
  color: white;
}

@media (max-width: 750px) {
  .header-right-links {
    display: none;
  }

  .navbar-container {
    display: flex;
    margin-left: -24px;
    margin-right: auto;
  }

  .header-left-links {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-left: -24px;
    width: 100%;
  }

  .header-left-links img {
    margin-left: -60px;
    padding-left: -24px;
  }
  .row {
    padding-left: 1em;
    padding-right: 1em;
  }
  .hamburger_menu {
    display: inline-flex;
    padding-left: 4vw;
    padding-right: 4vw;
  }

}

@media (min-width: 751px) {
  .header__menu-toggle {
    display: none;
  }

  .row {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 775px) {
  .header-left-links a {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .header-right-links a {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-right-width: 1px;
    border-right-color: #f2f2f2;
    border-right-style: solid;
  }
}
