.test {
  color: white;
}
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: aqua;
  background: radial-gradient(ellipse at center, rgba(69,90,100,1) 0%, rgba(38,50,56,1) 100%);
}
